body {
    margin: 0;
    text-align: center;
    font-family: "Gelasio", serif;
    background: linear-gradient(blue, yellow)
}

img {
    width: 100px;
}

.hero {
    background-image: url("images/city.jpeg");
    background-size: contain;
    color: white;
    padding: 10px;
    text-shadow: 4px 4px black;
    
}

#activities-header {
    position: static;
    color: white;
}

.activities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}



.activities-images {
    position:static; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
    
}

.activities-images img {
    width: 200px;
    height: 175px;
}

.guide {
    color: white;
    padding: 10px;
    font-family: "Gelasio", serif;
}

#tour-guide {
    border-radius: 100px;
    width: 200px;
}